.input__row {
	display: flex;
}

/* empty point */
.E {
	width: 20px;
	height: 20px;
	border-radius: 20px;

	border: 2px solid silver;
}

/* point IN loop */
.Ol, .Gl, .Bl, .Rl, .Yl, .El {
	width: 10px;
	height: 10px;
	margin: 7px;
	border-radius: 10px;
}

.El {background-color: silver;}
.Ol {background-color: orange;}
.Gl {background-color: green;}
.Bl {background-color: blue;}
.Rl {background-color: red;}
.Yl {background-color: yellow;}

/* FREE points (not empty) */
.Of, .Gf, .Bf, .Rf, .Yf, .Ef {
	width: 10px;
	height: 10px;
	margin: 7px;
	border-radius: 10px;
}

.Ef {background-color: silver;}
.Of {background-color: orange;}
.Gf {background-color: green;}
.Bf {background-color: blue;}
.Rf {background-color: red;}
.Yf {background-color: yellow;}

/* single color point */
.O, .G, .B, .R, .Y {
	width: 20px;
	height: 20px;
	border-radius: 20px;
}

.O {
	border: 2px solid orange;
	background: orange;	
}

.G {
	border: 2px solid green;
	background: green;
}

.B {
	border: 2px solid blue;
	background: blue;
}

.R {
	border: 2px solid red;
	background: red;
}

.Y {
	border: 2px solid yellow;
	background: yellow;	
}


.choice_color {
	border-radius: 0px;
	width: 50px;
	height: 50px;
}

.field {
	width: 80%;
	text-align: center;
	margin: 20px auto;
}