.orange_color,
.green_color,
.blue_color,
.red_color,
.yellow_color,
.black_color {
	width: 30px;
	height: 30px;
	margin: 0px auto;
}



@media (min-width: 992px) { .orange_color,
.green_color,
.blue_color,
.red_color,
.yellow_color,
.black_color {
	width: 50px;
	height: 50px;
	margin: 0px auto;
}
}


.orange_color {
	background-color: orange;
}

.green_color {
	background-color: green;
}

.red_color {
	background-color: red;
}

.blue_color {
	background-color: blue;
}

.yellow_color {
	background-color: yellow;
}

.black_color {
	background-color: black;
}

.choosed {
	border-top: 3px solid black;
	border-left: 3px solid black;
	border-bottom: 3px solid white;
	border-right: 3px solid white;
}